<div class="container">
    <div class="row" style="text-align: center">
        <div class="col-sm-12">
            <h1>Time for a Burger!</h1>
            <i class="fas fa-hamburger fa-10x"></i>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <ul>
                {{#each burgerData}}
                {{#unless devoured}}
                <li>{{burger_name}} <button>Eat the Burger</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-6">
            <ul>
                {{#each burgerData}}
                {{#if devoured}}
                <li>{{burger_name}} <button>Eat the Burger</button></li>
                {{/if}}
                {{/each}}
            </ul>

        </div>

    </div>
    <div class="row" style="align: center">
        <form class="input-container">
            {{!-- <div class="input-container"> --}}
                <input class="effect-1" type="text" placeholder="enter burger here!">
                <button>Add to the Menu!</button>
                <span class="focus-border"></span>

                {{!--
            </div> --}}
        </form>
        {{!-- <div class="col-sm-12"> --}}
            {{!-- <form style="align-content: center">
                <textarea name="burger_name" id="burger_name" cols="30" rows="10"></textarea>
                <button>Add to the Menu!</button>
            </form> --}}
            {{!--
        </div> --}}
    </div>
</div>